.about-hero__inner {
    margin-bottom: 168px;
    padding: 137px 85px;
    background-image: url('../../images/about.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-hero__content {
    width: 100%;
    max-width: 445px;
}

.about-hero__title {
    margin: 0 0 24px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.about-hero__text {
    margin: 0;
    color: #FEFCF7;
}

@media only screen and (max-width:768px) {
    .about-hero__inner {
        margin-bottom: 144px;
        padding: 118px 58px;
        background-image: url('../../images/about-desktop.jpg');
    }

    .about-hero__title {
        font-size: 32px;
        line-height: 40px;
    }

    .about-hero__text {
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        opacity: 0.8;
    }
}

@media only screen and (max-width:576px) {
    .about-hero__inner {
        padding: 111px 24px;
        background-image: url('../../images/about-mobile.jpg');
    }

    .about-hero__title {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }

    .about-hero__text {
        text-align: center;
    }
}

@media only screen and (max-width:350px) {
    .about-hero__inner {
        padding: 75px 24px;
    }
}